button {
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    line-height: 0;
}

table {
    background: transparent;
    border-collapse: separate;
    empty-cells: show;
    border-spacing: 0;
    outline: 0;
    vertical-align: top;
    table-layout: auto;
    caption-side: top;
    border-radius: 0;
    background-clip: padding-box;
}

label {
    font-weight: normal;
}